#myPools {
	width:50%;
	margin-right: auto;
	margin-left: auto;
}

#invitePools {
	width:50%;
	margin-right: auto;
	margin-left: auto;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}
